@charset "UTF-8";

body {
	margin: 0;
/* 	overflow: hidden;
 */}

html, body{ 
	font-family: 'Noto Sans KR', sans-serif;
}
.btn-div {
	text-align: center;
	margin: 80px 0;
}
.wrapper {
	position: absolute;
	width:100%;
	height: calc(100vh - 77px);
}
.map-container {
    position: relative;
    /*  display: flex;*/
	width:100%;
	height: 100%;
}
#map {
	float:left;
	display:inline-block;
	width:72%;
	height:100%;
}

.search-div{
	position: relative;
	display:flex;
	width:28%;
	height: 100%;
}
.search-group-wrap {
	display:inline-block;
	width:100%;
	height: 100%;
	background-color:white;
}
.search-bar-wrap {
	position: relative;
	width:100%;
	border-bottom: 1px solid #7E7E7E;
}
.search-bar{
	padding: 15px 10px;
	width:100%;
	display: flex;
}
.filter-wrapper {
	width:100%;
	height: 70px;
}
.map-seacrh-bar {
	background-color:wihite;
	height:50px;
}
#search {
	width: 100%;
	heght:30px;
	border: 1px solid #bbb;
	padding: 10px 12px;
	font-size: 14px;
	z-index: 2;
}
#searchImg {
  position : relative;
  width: 25px;
  height:25px;
  top: 10px;
  right: 12px;
  margin: 5px;
  z-index: 2;
}
#searchInput {
	display:inline-block;
	width:85%;
	height: 100%;
	outline:none;
	padding: 5px 10px;
}
#filterBtn{
	padding: 5px 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	outline:none;
	background-color: #BEE9FB;
}

#searchBtn{
	width: 50px;
	padding: 5px 10px;
	border: 0px;
	outline:none;
	height:100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #BEE9FB;
	float:right;
}
.filter{
	position: absolute;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px 10px 10px;
	width:100%;
	border-bottom: 1px solid #7E7E7E;
}
.filter button{
	padding: 5px 10px;
	border-radius: 5px;
	border: 0px;
	background-color: #BEE9FB;
}

.home-wrap {
	position:absolute;
	width: 100%;
    height: calc(100% - 66px);
    display: inline-block;
	overflow-y: scroll;
}
.home-list {
	width:100%;
	height: 100%;
	cursor: pointer;
}
.home-card {
	padding: 15px 15px;
	display: flex;
	width:100%;
	height: 200px;
	border-bottom: 1px solid;
}
.home-img-wrap {
    flex: 0 0 auto;
    display: flex;
	width: 150px;
	height: 100%;
	min-height: 140px;
	position:relative;
}
img {
	width:100%;
	height: 100%;
	object-fit: cover;
}
.home-content-wrap{
	padding-left: 20px;
}
.home-type, .range-div, .option-list, .addInfo-list{
	border-bottom: 1px solid #7E7E7E;
}
.filter-content{
	height: calc(100% - 110px);
	padding: 20px 15px;
	margin: 10px 15px;
	top: 45px;
	display: none;
	position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 11px 10px 16px 8px rgba(0,0,0,0.5);
    z-index: 100;
}

.filter-content::-webkit-scrollbar{
    width: 9px;
     border-radius: 25px;
}

.filter-content::-webkit-scrollbar-thumb{
    background: #a0a0a0;
    border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
.filter-content::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.1);
}


.home-wrap::-webkit-scrollbar{
    width: 9px;
     border-radius: 25px;
}

/* 스크롤바 막대 설정*/
.home-wrap::-webkit-scrollbar-thumb{
    background: #a0a0a0;
    border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
.home-wrap::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.1);
}
