<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="com.guardian.myhome.mapper.HomeMapper">
 	
 	<!-- 매물 등록  -->
 	<insert id="insertHome"  parameterType="com.guardian.myhome.vo.HomeVO">
 		insert into Home_tb(home_num, home_type, addr1, addr2, addr3, home_area, trading_type, deposit, monthly, rent_periods,
 						room_count, admin_cost, parking, pet, elevator, balcony, move_date, floor, home_title, home_detail) 
 		values((select nvl(max(home_num), 0) + 1 from Home_tb), #{homeType}, #{addr1}, #{addr2}, #{addr3}, #{homeArea}, #{tradingType},
 				#{deposit}, #{monthly}, #{rentPeriods}, #{roomCount}, #{adminCost}, #{parking}, #{pet}, #{elevator}, #{balcony}, #{moveDate},
 				#{floor}, #{homeTitle}, #{homeDetail})
 		<selectKey keyProperty="homeNum" resultType="com.guardian.myhome.vo.HomeVO"  order="AFTER">	 <!-- 삽입 후 매물 번호 반환 -->
 			select Max(home_num) as homeNum From Home_tb
 		</selectKey>
 	</insert>
 	
	<select id="selectAllHomeList" resultType="com.guardian.myhome.vo.HomeVO">
		select home_num AS homeNum, home_type AS homeType, addr1, addr2, addr3, home_area AS homeArea, trading_type AS tradingType, 
			   deposit, monthly, rent_periods AS rentPeriods, room_count AS roomCount, admin_cost AS adminCost, parking, pet, 
			   elevator, balcony, move_date AS moveDate, floor, home_title AS homeTitle, home_detail AS homeDetail
 		from home_tb
	</select>
	
 	<!-- 등록된 매물 삭제 -->
 	<delete id="deleteHome">
		delete from Home_tb where home_num = #{homeNum}
	</delete>
 	
 	
 </mapper>
 