<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="com.guardian.myhome.mapper.HomeImgMapper">
 	
	
	<!-- 매물 사진 등록  -->
 	<insert id="insertHomeImg" parameterType="com.guardian.myhome.vo.HomeImgVO">
 		insert into Home_Img_tb(img_num, home_num, home_img_name, home_img_path) 
 		values((select nvl(max(img_num), 0) + 1 from Home_Img_tb), #{homeNum}, #{homeImgName}, #{homeImgPath})
 	</insert>
	
 	
 	<select id="allHomeImg" parameterType="com.guardian.myhome.vo.HomeImgVO">
 		select home_num AS homeNum, home_img_name AS homeImgName, home_img_path AS homeImgPath 
 		from Home_Img_tb
 	</select>
 	
 	<select id="findHomeImgByHomeNum" resultType="com.guardian.myhome.vo.HomeImgVO">
 		select home_num AS homeNum, home_img_name AS homeImgName, home_img_path AS homeImgPath  
 		from Home_Img_tb where home_num = #{homeNum}
 	</select>
 	
 	
 	
 	
 	
 </mapper>
 