<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="com.guardian.myhome.mapper.MemberMapper">
 
 	<!-- 회원가입 -->
 	<insert id="memberJoin" parameterType="com.guardian.myhome.vo.MemberVO">
	insert into Imcha_tb (imcha_id, imcha_pw, nickname, phone, user_roll, sido1, gugun1)          
	values(#{imchaId}, #{imchaPw}, #{nickname}, #{phone}, #{userRoll}, #{sido1}, #{gugun1})
 	</insert> 
 	
 	<!-- 아이디 중복체크 -->
 	<select id="idCheck" resultType="int">
 		select count(*) from Imcha_tb where imcha_Id = #{imchaId}
 	</select>
 	
 	<!-- 로그인 -->
 	<select id="memberLogin" resultType="com.guardian.myhome.vo.MemberVO">
       select imcha_id AS imchaId, imcha_pw AS imchaPw, nickname, phone, user_roll AS userRoll,
             sido1, gugun1
       from Imcha_tb where imcha_Id = #{imchaId} and imcha_pw = #{imchaPw}
    </select>
 	
 	
 </mapper>